*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');

body{

    font-family : 'Poppins', sans-serif;
}
/* 
:root{
    --primary_color: hsl(0,0%,0%);
    --text_color: hsla(0, 78%, 47%, 0.7);
    --btn_color:  hsla(25,100%,90%,0.7);
} */

/* Navbar section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary_color);
    
}
.navbar .nav_img img{
    border: 5px solid var(--text_color);
    width: 100px;
    border-radius: 2rem;
   margin: 1rem;
   box-shadow: 10px 10px 20px white;
   
}
.navbar .center_Part{
    color: var(--text_color);
    font-size: 2rem;
    text-decoration: underline;
    
   
}
.navbar .nav_links a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--text_color);
    margin: 1rem;
    font-weight: bolder;

}

/* Header Section */
header .container{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--text_color);
    height: 1100px;
    
}
header .container .left_part img{
    border-radius: 2rem;
    box-shadow: 10px 10px 45px 10px white;
    object-fit: cover;
}
header .container .right_part{
    width: 500px;
    padding: 10px 10px;

   
    
}
header .container .right_part h1{
    font-size: 5rem;
}
header .container .right_part h1 span{
    color: var(--btn_color);
    font-weight: 600;
}
header .container .right_part .special_name{
    margin: 1rem;
    font-size: 4.5rem;
}
header .container .right_part h2{
    font-size: 2.5rem;
    line-height: 1.2;
    width: 290px;
    background-color: var(--btn_color);
    border-radius: 2rem;
    border: none;
    outline: none;
    padding: 10px 10px;
}
header .container .right_part p{
    font-size: 2.5rem;
    line-height: 1.5;
    
}
header .container .right_part .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}
header .container .right_part .btn button{
    font-size: 2.5rem;
    padding: 10px 10px;
    border-radius: 1rem;
    border: none;
    outline: none;
    text-transform: capitalize;
    
}
header .container .right_part .btn button:hover{
    background-color: var(--primary_color);
    color: var(--text_color);
    transition: 0.5s ease;
}

/* Wrapper Section. */


.wrapper{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
    background-color: var(--primary_color);
    color: var(--text_color);
    height: 900px;

    
}
.wrapper .txt{
    transform: rotate(270deg);
    font-size: 8rem;
    color: var(--text_color);
    text-decoration: underline;
    
}
.wrapper .card {
    margin-right: 1rem;
    border: 8px solid var(--text_color);
    border-radius: 2rem;
}
.wrapper .card img{
    width: 600px;
    border-radius: 2rem;
    padding: 0 1rem;
}
.wrapper .card h1{
    text-align: center;
    margin: 10px 0;
    font-size: 2rem;
}
.wrapper .card .card_text{
    
    width: 350px;
    line-height: 1.5;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 10px;
}

/* contact section */

.contact{
    font-size: 3.5rem;
    text-align: center;
    background-color:var(--text_color);
    text-decoration: underline;
    
}
form{
    background-color: var(--text_color);
   display: grid;
   justify-content: center;
   align-items: center;
   height: 800px;
   
}

input{
   font-size: 2rem;
   margin: 1rem 1rem;
   border-radius: 1rem;
   padding: 1rem;
   border: none;
   outline: none;
}
.input_wrap2 input{
    width: 700px;
    text-transform: capitalize;
}

textarea{
    font-size: 2rem;
    /* margin: 1rem 1rem; */
   border-radius: 1rem;
   padding: 1rem;
   border: none;
   outline: none;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    font-size: 3rem;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    text-align: center;
    text-transform: capitalize;

}
button:hover{
    background-color:var(--primary_color);
    transition: 0.5s ease;
    color: var(--btn_color);

  
}
/* Footer*/
footer{
    background-color: var(--primary_color);
    height: 500px;
    display: grid;
    text-align: center;
    align-items: center;
}
footer .heading{
    color: var(--text_color);
    font-size: 2rem;
}
.icon_links a{
    color: var(--text_color);
    font-size: 4rem;
  margin: 2rem;
}
.footer_text{
    color: var(--text_color);
    font-size: 3rem;
}

/* toogle section */
.toogle_container{
    position: relative;
}
.toogle{
    position: absolute;
    right: 10px;
   
}
.toogle button{
    font-size: 1rem;
    margin-top: 5px;
    padding: 10px;
}

.darkMode {
    background-color: rgba(0, 0, 0, 0.886);
    color: whitesmoke;
}

/* responsive section of header */

@media  (max-width:1024px) {
    .toogle button{
        font-size: 1rem;
        padding: 10px;

    }
    .navbar .nav_img img{
        width: 70px;
        
    }
    .navbar .center_Part{
        font-size: 20px;
    }
    .navbar .nav_links a{
        font-size: 10px;
        margin: 0;
        margin: 0 10px;
    }

    header .container .left_part img{
        width: 200px;
    }
    header .container .right_part h1 {
        font-size: 3rem;
    }
    header .container .right_part .special_name {
        margin: 1rem;
        font-size: 2.5rem;
    }
    header .container .right_part p {
        font-size: 1.5rem;
       
    }
    header .container .right_part .btn button {
        font-size: 1.5rem;
     
    }
   
    .wrapper .card h1{
        font-size: 1rem;
    }
    .wrapper .card img{
        width: 200px;
    }
    .wrapper .card .card_text{
        font-size: 1rem;
        width: 100px;
    }
    .wrapper .txt {
       margin-left: -3rem;
        font-size: 2.5rem;
       
    }

    .contact h1{
        font-size: 2.5rem;
    }
    .input_wrap{
       display: block;
       width: 100px;
       margin-left: 1.5rem;
    }
    .input_wrap2 input{
        width: 230px;

    }
   .input_wrap input{
        font-size: 1rem;

    }
    textarea{
        font-size: 1rem;
        margin-top: -2rem;
    }
    button{
        font-size: 2rem;
    }

    footer h1{
        font-size: 2.5rem;
    }
    footer .icon_links a{
        /* display: contents; */
        font-size: 1.5rem;
    
    }
    .footer_text {
      
        font-size: 1.2rem;
    }
}

/* resopsive header */

@media (max-width:420px)
{
    .navbar .nav_img img{
        width: 70px;
 
    }
    .navbar .center_Part{
        font-size: 20px;
        text-align: center;
    }
    .navbar .nav_links{
        text-align: center;
        margin-top: 2rem;
    }
    .navbar {
        display: block;

    }
    

    header .container{
        display: block;
        
    }
    header .container .left_part img {
        width: 150px;
        margin: 2rem 4rem;
       
    }
   
    header .container .right_part p {
        font-size: 1.5rem;
        text-align: justify;
        width: 250px;
        margin: 1rem 1rem;
    }
    header .container .right_part .btn button {
        margin-right: 5rem;
        
    }

    .wrapper{
       display: grid;
       height: 1200px;
    }
    .wrapper .txt {
        transform: rotate(360deg);
        text-align: center;
        margin: 1rem 0;
    }
    .wrapper .card {
        margin-right: 1rem;
        
    }
 
    .wrapper .card .card_text {
        font-size: 1rem;
        width: 200px;
    }
    .wrapper .card h2{
        font-size: 10px;
    }
    .contact h1{
        font-size: 2.5rem;
    }
    .input_wrap{
       display: block;
       width: 100px;
       margin-left: 1.5rem;
    }
    .input_wrap2 input{
        width: 230px;

    }
   .input_wrap input{
        font-size: 1rem;

    }
    textarea{
        font-size: 1rem;
        margin-top: -2rem;
    }
    button{
        font-size: 2rem;
    }

    footer h1{
        font-size: 2.5rem;
    }
    footer .icon_links a{
        font-size: 1.2rem;
    
    }
    .footer_text {
      
        font-size: 1rem;
    }
    .toogle{
       
        top: 2rem;
       
    }
}

@media (max-width:576px){

    .navbar .nav_img img{
        width: 70px;
 
    }
    .navbar .center_Part{
        font-size: 20px;
        text-align: center;
    }
    .navbar .nav_links{
        text-align: center;
        margin-top: 2rem;
    }
   
    
    header .container .left_part img {
        width: 150px;
        margin: 2rem 4rem;
       
    }
    header .container .right_part h1 {
        font-size: 2rem;
    }
    header .container .right_part h2 {
        font-size: 1.5rem;
        line-height: 1.2;
        width: 214px;
    }
    header .container .right_part p {
        font-size: 10px;
        text-align: justify;
        width: 200px;
        margin: 1rem 1rem;
    }
    header .container .right_part .btn button {
        margin-right: 5rem;
        
    }
}

@media (max-width:756px)
{
    .navbar .nav_img img{
        width: 70px;
 
    }
    .navbar .center_Part{
        font-size: 20px;
        text-align: center;
    }
    .navbar .nav_links{
        text-align: center;
        margin-top: 2rem;
    }
    
    header .container .left_part img {
        width: 150px;
        margin: 2rem 4rem;
       
    }
   
    header .container .right_part p {
        font-size: 1.5rem;
        text-align: justify;
        width: 250px;
        margin: 1rem 1rem;
    }
    header .container .right_part .btn button {
        margin-right: 5rem;
        
    }

    .wrapper{
       display: grid;
       height: 1200px;
    }
    .wrapper .txt {
        transform: rotate(360deg);
        text-align: center;
        margin: 1rem 0;
    }
    .wrapper .card {
        margin-right: 1rem;
        
    }
 
    .wrapper .card .card_text {
        font-size: 1rem;
        width: 200px;
    }
    .wrapper .card h2{
        font-size: 10px;
    }
    .contact h1{
        font-size: 2.5rem;
    }
    .input_wrap{
       display: block;
       width: 100px;
       margin-left: 1.5rem;
    }
    .input_wrap2 input{
        width: 230px;

    }
   .input_wrap input{
        font-size: 1rem;

    }
    textarea{
        font-size: 1rem;
        margin-top: -2rem;
    }
    button{
        font-size: 2rem;
    }

    footer h1{
        font-size: 2.5rem;
    }
    footer .icon_links a{
        font-size: 1.2rem;
    
    }
    .footer_text {
      
        font-size: 1rem;
    }
}